/*
h1, td{
	text-align: center;
}*/

#bodyDiv {
	text-align: center;
}


table {
	margin: 0 auto;
	margin-top: 20px;
}

tbody {
	border: 1px black solid;
	cursor: pointer;
}

.row {
	height: 25px;
}

.col {
	width: 25px;
}

#inputRow {
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
}

#inputRow td {
	height: 50px;
	width: 50px;
}
#inputRow td .inputVal {	
	font-weight: bold;
	font-size: 20px;
}

#inputRow td .numsLeft {
	font-size: 12px;
	position: relative;
	top: -15px;
}

.perm {
	font-weight: bold;
}

#startGame {
	margin: 10px;
}

#highScoreList li {
	margin: 5px;
}

#reset {
	margin-top: 10px;
}

#eraser {
	position: relative;
	top: 0;
	line-height: 2;
	font-size: x-large;
}

#winner{
	position: absolute;
	visibility: hidden;
	text-align: center;
	height: 42vh;
	width: 65%;
	top: 170px;
	left: 120px;
	z-index: 1;
	background-color: rgba(255,0,0,0.8);
	border-radius: 25px;
}

#winner #winnerP{
	font-size: 100px;
}


/* SETTING UP BORDERS */
#row1, #row4, #row7, #inputRow tr {
	border-top: 2px solid black;
}

#row9, #inputRow tr {
	border-bottom: 2px solid black;
}

table > #Mtbody > tr [data-col="3"], table > #Mtbody > tr [data-col="6"] {
	border-right: 2px solid black;
}

